@import "tailwindcss";

:root {
  --link-color: #60a5fa;      /* blue-400 */
  --hover-link: #3b82f6;     /* blue-500 */
}

.dark-custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.dark-custom-scroll::-webkit-scrollbar-track {
  background: #222;
}

.dark-custom-scroll::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 8px;
}

.dark-custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* Firefox */
.dark-custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #555 #222;
}

/* Webkit (Chrome, Edge, Safari) */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #F1F5F9; /* background secundário */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #CBD5E1; /* borda hover / divisória */
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #94A3B8; /* texto muted */
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #CBD5E1 #F1F5F9;
}

[data-theme="dark"] {
  --bg-main: #0F0F0F;
  --bg-secondary: #151515;
  --bg-card: #1C1C1C;

  --text-main: #F5F5F5;
  --text-secondary: #B0B0B0;
  --text-muted: #7A7A7A;

  --soft-border: #2A2A2A;
  --hover-border: #3A3A3A;

  --success: #22C55E;
  --warning: #FACC15;
  --error: #EF4444;
}

[data-theme="light"] {
  --bg-main: #F6F8FB;
  --bg-secondary: #EEF2F7;
  --bg-card: #FFFFFF;

  --text-main: #0F172A;
  --text-secondary: #334155;
  --text-muted: #64748B;

  --soft-border: #E2E8F0;
  --hover-border: #CBD5E1;

  --success: #16A34A;
  --warning: #EAB308;
  --error: #DC2626;
}